
::selection {
    color: green;
    background: black;
}

p::first-line {
    color: orange;
}

p::first-letter {
    color: red;
    font-size: 50px;
}

h1::before {
    background: url(https://imgs.search.brave.com/Tad_HSKQCKEmDc74ptVXrKyTUzIvF1RWNQKVE-7fycw/rs:fit:512:512:1/g:ce/aHR0cDovL3NpbXBs/ZWljb24uY29tL2Rl/di93cC1jb250ZW50/L3VwbG9hZHMvcm9j/a2V0LnBuZw);
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    content: '';
    margin-right: 10px;
}

h1::after {
    background: url(https://imgs.search.brave.com/Tad_HSKQCKEmDc74ptVXrKyTUzIvF1RWNQKVE-7fycw/rs:fit:512:512:1/g:ce/aHR0cDovL3NpbXBs/ZWljb24uY29tL2Rl/di93cC1jb250ZW50/L3VwbG9hZHMvcm9j/a2V0LnBuZw);
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    content: '';
    margin-left: 10px;
}